@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic');


body  {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

.placeholder{
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 2em;


}

.form-container {
  width: 80%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 1em;
	/*margin-top:90px;
  margin-bottom: 30px;*/
	background-color: #fafafa;
	position: relative;
	    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  
  

}

.form-row {
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 10em;
  margin-bottom: 10em;
  padding-left: 2em;
}

.input-field {
  margin-left: 5em;
  margin-bottom: 3em;
  vertical-align: top;
  border-style: solid;
  border-color: #ced4da;
  border-radius: .25rem;
  border-width: 1px;
  padding-left: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}

.project {
  width: 80%;
  height: 300px;
  vertical-align: top;
  max-width: 100%;
}


.button {
  margin-left: 2em;
}

.form-container .btn {
    background-color: #1F4D7a;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    cursor: pointer;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: .9em;
    border-radius: 32px;
    margin-left: 2em;
    margin-bottom: 3em;

}
.submitbtn {
	line-height: 48px;
	display: block;
	height: 48px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.form-container h2 {
    margin: 0;
    font-weight: 700;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}
@media  all and (max-width: 640px) {
	.form-container {
		position: static;
		-webkit-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		width: 100%;
		margin-top: 0em;
    margin-bottom: 10px;
    font-family: 'Source Sans Pro', sans-serif;
	}
  

  .project {
    margin-top: 2em;
  }
}

:root{
  font-family: 'Source Sans Pro', sans-serif;
}

#message {
  font-family: 'Source Sans Pro', sans-serif;
}
.Email {
  font-family: 'Source Sans Pro', sans-serif;
}

.input-field col s12 {
  font-family: 'Source Sans Pro', sans-serif;
}