@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic');


body  {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}



.form-container {
  width: 100%;
  max-width: 700px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  margin-bottom: 5em;
  padding-top: 1em;
	/*margin-top:90px;
  margin-bottom: 30px;*/
	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 20px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  font-family: 'Source Sans Pro', sans-serif;
  z-index: 500;

}

.form-full {
  margin: 0 auto 0 auto;
  padding: 0;
}



.form-row {
  font-family: 'Source Sans Pro', sans-serif;
  margin-right: 5em;
  padding-right: 0.5em;
  padding-left: 2em;
  margin-bottom: 0.5em;
}



.input-field {
  
  margin-bottom: 3em;
  border-style: solid;
  border-color: #ced4da;
  border-radius: .25rem;
  border-width: 1px;
  
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-left: 2em;

}

.place {
  padding-left: 10px;

}

.project {
  width: 80%;
  height: 300px;
  vertical-align: top;
  max-width: 100%;
  font-size: 18px;
}


button {
  border: none;
}

.form-container .btn {
    background-color: #1F4D7a;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    cursor: pointer;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: .75em;
    padding-bottom: .75em;
    font-size: 1.2em;
    border-radius: 32px;
    margin-left: 2em;
    margin-bottom: 3em;
}

.form-container .btn:hover {
  background-color: #3e80c2;
  
}


.submitbtn {
	line-height: 48px;
	display: block;
	height: 48px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}
.form-container h2 {
    margin: 0;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
}


:root{
  font-family: 'Source Sans Pro', sans-serif;
}

#message {
  font-family: 'Source Sans Pro', sans-serif;
  
}
.Email {
  font-family: 'Source Sans Pro', sans-serif;
}

.input-field col s12 {
  font-family: 'Source Sans Pro', sans-serif;
}

label {
  display: inline-block;
  font-size: 18px;
}

input[type="text"]
{
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
}

.humans {
  color: white;
  opacity: 0;
}







