@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic');



body  {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background: white;
}

p, blockquote {
    font-size: 1em;
    line-height: 1.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

p2 {
    font-size: .9em;
    line-height: 1.6em;
    text-indent: 0;
    
}

h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h2 {
    padding-left: 0.5em;
    color: #1F4D7A;
}

h3 {
    text-align: center;
    font-size: 2em;
}

h4 {
    padding-left: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: .8em 1.2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
}

.logo {
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 20px;
}

.hide-mobile {
    display: none;
    transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
}

header {
    display: flex;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
    padding-bottom: 5px;
}

.header-img {
    width: 100%;
    text-align: center;

}


.menu {
    width: 25px;
    margin-top: 1em;
    margin-right: 1em;
}

nav ul {
    position: fixed;
    width: 60%;
    top: 0;
    right: 0;
    background: #1F4D7A;
    height: 100%;
    z-index: 7;
    padding-top: 2em;
    text-align: left;

}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 2em;
    text-align: left; 

}

nav ul li a:hover {
    background-color: #3e80c2;

}

.exit-btn {
    margin-bottom: 1em;
    margin-right: 1em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0.5em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}



.mountain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
    padding-top: 4em;

}


a.button {
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background-color: #1F4D7A;
    padding: 5px 20px;
    border-radius: 10px;
    transition-duration: 0.5s;
    margin-left: 1em;
}

a.button-large {
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background-color: #1F4D7A;
    padding: 20px 80px;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-left: 15%;
    margin-right: 10%;
    padding-right: 0;
    padding-left: 0;
}

a.button-large-white {
    border: none;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #1F4D7A;
    background-color: #fafafa;
    padding: 20px 80px;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
    margin-left: 15%;
    margin-right: 10%;
    padding-right: 0;
    padding-left: 0;
   
}


.button:hover{
    background-color: #3e80c2;
}

.button-large:hover{
    background-color: #3e80c2;
}

.button-large-white:hover{
    background-color: #3e80c2;
    color: #fafafa;
}

a.button-white {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #1f4d7a; 
    background-color: white; 
    display: inline-flex;
    padding: 5px 20px;
    border-radius: px;
    transition-duration: 0.5s;
    margin-left: 1em;
}

.button-white:hover{
    background-color: #3e80c2;
    color: white;
}

.img-left {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.poster-left {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.img-right {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


li .img-right {
    margin-top: 5em;
} 

.block-white {
    background: #fff;
    color: black;
    padding-bottom: 10em;
    text-align: left;
    padding-top:1em;
    

}

.block-white .block-poster {
    padding-top: 5em;
    padding-bottom: 0em;
    margin-bottom: 0;
    margin-top: 0;
}

.block-poster .laurel {
    height: 50px;
    padding-left: 2em;
}



.banner-row {
    border: none;
    text-align: center;
    text-decoration: none;
    color: white; 
    background-color:; 
    display: flex;
    padding-right: 10px;
    margin: 0;
    margin-bottom: -2em;
    top: 0;
}

.banner-column {
    flex: 20%;
    
}

.banner-column h2 {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-bottom: 0;
}

.banner-container {
    background:  #1F4D7A;
    width: 20em;
    height: 5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0;
    margin-right: 0em;
    margin-bottom: 1em;
    vertical-align: middle;

}


#subhero-2 {
    position: absolute;
    top: 60em;
    margin-block: 1em;
}

.block-blue {
    background:  #1F4D7A;
    color: white;
    padding-bottom: 15em;
    padding-top: 2em;

}

.block-blue-inner {
    background: #1F4D7A;
    color: white;
    width: 85%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;

    text-align: left;
    padding-top: 5em;

}

.block-photo1 {
    background-size: cover;
    background-image: url(http://desmondbros.ie//images/heineken_fb_02.jpg);
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 1em;
    height: 500px;
    color: #fafafa;
}

.block-photo1 ul {
    margin-top: 15em;
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo1 ul li h2 {
    color: #fafafa;
}

.block-photo2 {
    background-size: cover;
    background-image: url(../images/foodybite-01.jpg);
    background-position: center;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
    height: 500px;
    color: #fafafa;
}

.block-photo2 ul {
    margin-top: 15em;
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo2 ul li h2 {
    color: #fafafa;
}

.block-photo3 {
    background-size: cover;
    background-image: url(../images/video-production-set-01.jpg);
    background-position: center;
    padding-top: 2em;
    margin-top: 0em;
    margin-bottom: -13em;
    height: 500px;
    color: #fafafa;
}

.block-photo3 ul {
    margin-top: 15em;
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo3 ul li h2 {
    color: #fafafa;
}

.block-photo4 {
    background-size: cover;
    background-image: url(../images/tree-01.jpg);
    background-position: center;
    padding-bottom: 2em;
    padding-top: 8em;
    margin-top: 8em;
    height: 500px;
    color: #fafafa;
}

.block-photo4 ul {
    margin-top: 10em;

   padding-left: 1em;
}

.block-photo4 ul li h2 {
    color: #fafafa;
}


.block-photo4 ul li p {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.block-photo5 {
    background-size: cover;
    background-image: url(../images/looking-for-02.png);
    background-position: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 2em;
    height: 500px;
    color: #fafafa;
}

.block-photo5 ul {
    float: right;
    margin-right: 0;
    margin-top: 15em;
    padding-right: 1em;
}

.block-photo5 ul li h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
    color: #fafafa;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

.block-photo5 ul li p {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-right: 1em;
}


.icon {
    max-width: 40px;
    fill: #1F4D7A;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 5em;
    
}

.column {
    flex: 50%;
    width: 50%;
}



.icon-row .column {
    flex: 100%;
    width: 100%;
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 3em;
    margin-bottom: 0em;
}

.icon-row .column p2 {
    
    text-align: left;
    display: block;
    margin-right: 5%;
    margin-left: 5%;

}

.column .profile {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    filter: brightness(120%) grayscale(80%);
}

.column .profile:hover {
    filter: brightness(100%) grayscale(0%);
}

.column .profile-description {
    opacity: 0;
}

.column .profile:hover + .profile-description{
    opacity: 1;
}



.headshot {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  }

.row-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

.column-video {
    flex: 100%;
}

.column-video iframe {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    width: 90%;
}

.video-background {
    vertical-align: middle;
    width: 100%;
    padding-top: 4em;
    margin: ;
    z-index: -7;
    position: sticky;
    top: 500px;
}

#home-text {
    position: sticky;
    left: 50%;
    top: 50%;
    padding-top: 5em;
    color: #fff;
    z-index:1;
}


#home-top-video {
  left: 0%;
  top: 0%;
  padding-top: 4em;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  text-align: center;
  display: block;
}

#video-loop {
    height: 45%;
    width: auto;
    text-align: center;
  display: block;
}

.hero-text {
    position: sticky;
    left: 50%;
    top: 50%;
    padding-top: 5em;
    color: #fff;
    z-index:1;
}

.show-mobile {
    display: block;
    z-index: 9999;
}

.copyright {
    text-align: center;
    margin-top: 5em;
    padding-top: 0;
}
    

@media only screen and (min-width: 650px) { 
    #video-loop {
        width: 100%;
        height: auto;
    }


    h1 {
        font-size:4em;
        margin-top:2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 1.2em;
    }

    .container {
        padding: .8em 1.2em;
        margin-right: 5em;
        margin-left: 5em;
    }

    .container-full {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .block-white {
        padding-bottom: 2em;
        padding-top: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        position: relative;
    }

    .block-white ul {
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 0em;

        padding-bottom: 7em;
        
    }

    .block-white .block-poster {
        padding-top: 0em;
        padding-bottom: 0em;
        margin-bottom: 0;
        margin-top: 0;
    }

    .block-blue-inner {
        padding-bottom: 2em;
        padding-top: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        position: relative;
    }

    .block-blue-inner ul {
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 0em;

        
    }

    .block-photo1 ul {
        margin-top: 7em;
    }

    .block-photo2 ul {
        margin-top: 9em;
    }

    .block-photo2 {
        background-position: right;
    }

    .block-photo3 ul {
        margin-top: 9em;
    }

    .block-photo5 ul {
        float: center;
        padding-right: 2em;
        padding-left: 2em;
        padding-top: 1em;
        padding-bottom: 5em;
        margin-left: 50%;
        text-align: left;
        height: 200px;
        border-radius: 20px;
        
    }

    .block-photo5 ul li p {
        color: #fafafa;
        text-shadow: none;
        margin-right: 1em;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .block-photo5 ul li h2 {
        color: #fafafa;
        text-shadow: none;
        margin-right: 1em;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    

    #subhero-1 {
        position: relative;
        width: 600px;
    
    }

    #subhero-2 {
        position: static;
        width: 600px;
    }

   

    .column {
        flex: 33.33%;
        width: 33.33%;
    }

    .icon-row .column {
        flex: 33.33%;
        width: 33.33%;
        padding:0
    }

    .icon-row .column p2 {
    
        text-align: left;
        display: block;
        margin-right: 25%;
        margin-left: 25%;
    
    }

    .column-video iframe {
        margin-top: 8px;
        vertical-align: middle;
        max-width: 100%;
        width: 65%;
    }

    .img-left {
        padding-right: 5em;
    }

    



    

    .poster-left {
        margin-left: 10em;
    }

    .banner-container {
        background:  #1F4D7A;
        width: 30em;
        height: 7em;
        padding-top: 0.25em;
        padding-bottom: 2em;
        padding-right: 5em;
        margin-right: 0em;
        margin-bottom: 1em;
        text-align: right;
        vertical-align: right;
    
    }

    .banner-column h2 {
        margin-top: 0;
        padding-top: 0.5em;
        padding-bottom: .8em;
        margin-bottom: 0;
    }

    .banner-row {
        border: none;
        text-align: center;
        text-decoration: none;
        color: white; 
        background-color:; 
        display: flex;
        padding-right: 10px;
        margin: 0;
        margin-bottom: -4em;
        top: 0;
    }

    .show-mobile {
        display: block;
    }

    a.button-large {
        margin-left: 38%;
        margin-right: 38%;
      
    }

    a.button-large-white {
        margin-left: 38%;
        margin-right: 38%;
    }

    .copyright {
        text-align: right;
    }

    

    
}

@media only screen and (min-width: 900px) {
    

    h1 {
        font-size:4em;
        margin-top:2em;
    }
    
    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    .show-desktop {
        display: block;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        background: none;
        height: 0em;
        display: flex;
        padding-top: 0;
        padding-right: 2em;
        margin-right:2em;
        width: 100%;
    }

    nav ul li {
        float: left;
    }

    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: left;
        padding-right: 5em;
        margin-right: 0em;
        width: 1em;
    }

    nav ul li a:hover {
        background-color: inherit;
        color: #1F4D7A;
    
    }

    .img-right {
        padding-left: 5em;
    }

    li .img-right {
        max-width: 900px;
        display: inline;
        float: right;
    } 

    .column-video {
        flex: 24.9999%;
    }
    
    .column-video:hover .gallery-description {
        opacity: 1;
    }

    .icon-row .column p2 {
    
        text-align: left;
        display: block;
        margin-right: 25%;
        margin-left: 25%;
    
    }
}




.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #1C2F4b;
    padding-bottom: 5em;
    padding-top: 1em;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: white;
    font-weight: normal;
    text-transform: none;
  }
  .footer .col h2 {
    color: white;
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 17px;
    padding: 20px 0px 0px 0px;
  }
  .footer .col ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
  }

  .footer a {
    text-decoration: none;
    color: inherit;
  }

  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
    margin-right: 2em;
    width: 40px;
  }




.col .logo-footer  {
    margin-top: 2.5em;
    width: 12em;
    padding-right: 4em;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }



  .footer .col ul li h2:hover {
    text-decoration: underline;
  }

  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

 // gallery 
 
 div.gallery {
    border: 1px solid #ccc;
    position: relative;

}
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }

  .image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  

  .gallery-description {
    opacity: 0;
    width: 100%;
    text-align: center;
    margin-right: 0;
    width: 100%;
    height: 2em;

  }

  .gallery-text {
    color: black;
    font-size: 16px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 5em;
    margin-left: -40%;
    width: 100%;
    padding: 0;

  }

  .responsive:hover .image {
    opacity: 0.3;
  }
  
  .responsive:hover .gallery-description {
    opacity: 1;
  }

  .videos:hover .gallery-text {
    opacity: 1;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  #videos a {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0;
    float: left;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
 }

 #videos-vimeo a {
    display: inline-block;
    width: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0;
    float: left;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
 }
 
 #videos a:hover {
    opacity: 0.7;
 }

 #videos-vimeo a:hover {
    opacity: 0.7;
 }
 
 #videos a img {
    width: 100%;
    height: auto;
 }

 #videos-vimeo a img {
    width: 100%;
    height: auto;
    vertical-align: middle;
 }
 
 #overlay {
    background: rgba(31,77,122,0.8);
    position:fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
 }
 
 #overlay .modal {
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
    width: 90%;
    margin: 100px auto;
    max-width: 800px;
    min-height: 100px;
    position: relative;
    padding: 30px 20px 15px;
    
 }
 
 #overlay .modal #close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

 }
 
 #overlay iframe {
    width: 100%;
    min-height: 500px;
 }

 