@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic');
@import url('https://fonts.googleapis.com/css?family=Outfit:400,200,900italic,900,700italic,700,600italic,600,400italic,300italic,300,200italic');



body  {
    margin: 0;
    font-family: 'Outfit', 'Source Sans Pro', sans-serif;
    background: white;
}

p, blockquote {
    font-size: 1.2em;
    line-height: 1.6em;
}

p2 {
    font-size: 1em;
    line-height: 1.6em;
    
}

h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

h1 span {
    color: #fbbd15;
}

h2 {
    color: #1F4D7A;
    font-size: 2em;
}

h2 span {
    color: #fbbd15;
}



h3 {
    text-align: center;
    font-size: 2em;
}

h4 {
    font-size: 1.7em;
    font-weight: 400;
}

.center {
    text-align: center;
}

.subheading  {
    color: #fbbd15;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 1.2em;
    margin-right: 0.2em;
    margin-left: 0.2em;
    
}

.container-short {
    padding: 0.8em 1.2em;
    margin: 0 0.2em 0 0.2em;
    max-width: 800px;

}

#about .container {
    padding-bottom: 0;
    margin-bottom: 0;
    
}
#about .container img {
    padding-bottom: 0;
    margin-bottom: 0;
    
}

.container.intro {
    max-width: 1000px;
    margin: 10px auto 0 auto;
}

#process-steps.container {
    max-width: 800px;
    background-color: #FAFAFA; 
    color: black; 
    margin: 0 auto 0 auto;
    padding-bottom: 3em; 
    border-radius: 30px;
}

.container-full {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
}

.logo {
    height: 40px;
    margin-top: 30px;
    margin-left: 5px;
    padding-left: 20px;
}

.logo-box {
    z-index: 7;
    max-width: 100%;
    margin-right: 10px;
}

.logo-box:hover {
    opacity: 80%;
}

.logo-box::before {
    content: url(/images/desmond-bros-wordmark-black.svg);
    display: block;
    width: 180px;
    margin-top: 30px;
    margin-left: 5px;
    padding-left: 20px;
    cursor: pointer;
}

.logo-footer.logo-box::before {
    width: 160px;
    padding: 0;
    margin: 0;
}


.hide-mobile {
    transition: 400ms ease-in-out;
    transform: translate(110%);
    height: 100%;
}

/* .hide-mobile li {
    display: none;
} */

.show-desktop .dropdown img {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 90px;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 5;
}
.gluey {
    position: sticky;
    top: 0;
    height: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}



.navbar {
    height: 20px;
    z-index: 2;
}

.stuck nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

.header-img {
    width: 100%;
    text-align: center;
}


.menu {
    width: 25px;
    margin-top: 1em;
    margin-right: 1em;
}

#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    left: 25px;
    margin-right: 50px;
    margin-top: 30px;
    z-index: 50;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 55;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height:3px;
    margin-bottom: 5px;
    position: relative;
    background: #fbbd15;
    border-radius: 3px;
    z-index: 50;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: white;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menuToggle input:checked ~ .hide-mobile
  {
    opacity: 1;
    transition: 600ms ease-in-out;
    transform: translate(0);
    height: 100%;
  }

 /* #menuToggle input:checked ~ .hide-mobile li
  {
    display: contents;
  } */

  
  


nav ul {
    position: fixed;
    width: 60%;
    right: 0;
    top: 0;
    bottom: 0;
    background: #1F4D7A;
    z-index: 7;
    text-align: left;
    padding-top: 100px;
    height: 100%;
    

}

nav ul img {
    margin-bottom: 40px;
}
nav ul li {
    width: 100%;
    margin-left: 20px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 1em 10px;
    text-align: left;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 1.2em; 

}

nav ul li a:hover {
    color: #3e80c2;

}

.dropdown img {
    width: 10px;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    opacity: 1;
}

.dropdown a {
    width: 100%;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 100%;
    text-transform: lowercase;
    padding-left: 30px;
    font-size: .9em;
    font-weight: 300;
  }


.exit-btn {
    margin-bottom: 1em;
    margin-right: .9em;
    margin-top: -1.3em;
    text-align: right;
    padding: 0.5em;
}

.exit-btn img {
    width: 25px;
    cursor: pointer;
}

.intro p span {
    font-weight: 200;
    text-align: center;
}

.intro p {
    text-align: center;
}




.mountain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -3;
    padding-top: 4em;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a img {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    text-decoration: none;
}

.button-holder {
    text-align: center;
}

a.button {
    border: none;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background-color: #1F4D7A;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 0 auto auto auto;
    display: inline-block;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  text-shadow:  none;
}

.button.yellow {
    background-color: #fbbd15;
}

.button-menu {
    border-style: none;
    background-color: #fbbd15;
    color: #1F4D7A;
    border-radius: 5px;
    max-width: 60%;
    padding: 10px;
}

.button-menu:hover {
    background-color: #3e80c2;
    color: white;
}

a.button-large {
    border: none;

    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #fafafa;
    background-color: #1F4D7A;
    padding: 20px 50px;
    border-radius: 10px;

  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 auto auto auto;
}

.play-btn {
    width: 40px;
    height: 40px;
    background-image: url(../images/play-button-white.svg);
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.play-btn:hover {
    background-image: url(../images/play-button-fill-white.svg);
}

.showreel-btn::before {
    content: url(/images/play-button-yellow.svg);
    display: inline-block;
    width: 30px;
    cursor: pointer;
    text-decoration: none;
    padding: none;
    margin: 0 10px 0 0;
}

.button.showreel-btn {
    background-color: white;
    vertical-align: middle;
    padding: 10px 20px 10px 20px;
    color: black;
    
}

.showreel-btn-place {
    margin-top: 150px;
    left: 20%;
    text-align: right;

}



a.button-large-white {
    border: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #1F4D7A;
    background-color: #fafafa;
    padding: 20px 80px;
    border-radius: 10px;
    transition-duration: 0.5s;
    font-size: 1.5em;
    font-weight: 600;
    margin: 0 auto auto auto;
    padding-right: 20px;
    padding-left: 20px;
   
}


.button:hover{
    transform: translateY(-5px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.button-large:hover{
    background-color: #3e80c2;

    transform: translateY(-10px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.button-large-white:hover{
    background-color: #3e80c2;
    color: #fafafa;
}

a.button-white {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    border: none;
    text-align: center;
    text-decoration: none;
    color: #1f4d7a; 
    background-color: white; 
    display: inline-flex;
    padding: 5px 20px;
    border-radius: px;
    transition-duration: 0.5s;
    margin: 0 auto auto auto;
}

.button-white:hover{
    background-color: #3e80c2;
    color: white;
}

.img-left {
    display: block;
    width: 95%;
    
}

.poster-left {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.img-right {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}


li .img-right {
    margin-top: 5em;
} 

.block-white {
    background: #fff;
    color: black;
    padding-bottom: 10em;
    text-align: left;
    padding-top:1em;
}

.block-white h3{
    padding-top:0em;
    margin-bottom: 0;


}

.block-white#CSR-FAQ h2 {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-weight: 400;
}

.block-white#CSR-FAQ p {
    padding: 0;
    margin: 0;
    top: 0px;
}

.block-white details {
    margin-bottom: 50px;
}


.block-white .block-poster {
    margin: 10px auto 110px auto;
    max-width: 1200px;
}

.block-poster .laurel {
    height: 50px;
    padding-left: 2em;
    vertical-align: middle;
}

.showreel {
    background: #fff;
    color: black;
    padding-bottom: 10em;
    text-align: center;
    padding-top:7em;
    

}



.banner-row {
    border: none;
    text-align: center;
    text-decoration: none;
    color: white; 
    display: flex;
    padding-right: 10px;
    margin: 0;
    margin-bottom: -2em;
    top: 0;
}

.banner-column {
    flex: 20%;
    
}

.banner-column h2 {
    margin-top: 0;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
    margin-bottom: 0;
}

.banner-container {
    background:  #1F4D7A;
    width: 20em;
    height: 5em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0;
    margin-right: 0em;
    margin-bottom: 1em;
    vertical-align: middle;

}

img#subhero-1 {
    border-radius: 10px;

}

#subhero-2 {
    position: absolute;
    top: 60em;
    margin-block: 1em;
}

.block-blue {
    background:  #1F4D7A;
    color: white;
    padding-bottom: 15em;
    padding-top: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;

}

.block-blue p a:visited {
    color: inherit;
}

.block-blue h2 {
    color: white;
}

.block-blue#process {
    background-image: url(../images/laptop-desk-overlay.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  

}

.block-blue#about {
    padding-bottom: 0;
    margin-bottom: 0;
}



.block-blue-inner {
    background: #1F4D7A;
    color: white;
    width: 85%;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;

    text-align: left;
    padding-top: 5em;

}

/* styling photo section text */
.block-photo {
    padding-bottom: 2em;
    padding-top: 125px;
    padding-left: 2em;
    margin: 2em auto 2em auto;
    max-width: 1000px;
    width: 90%;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4); /* this adds the "card" effect */  
}

.block-photo ul {
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo ul li h2 {
    color: #fafafa;
}

/* right-indented photo block text */
.block-photo-right {
    padding-bottom: 2em;
    padding-top: 125px;
    padding-left: 2em;
    margin: 2em auto 1em auto;
    max-width: 1000px;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
    width: 90%;
}

.block-photo-right ul {
    margin-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    color: #fafafa;
    max-width: 500px;
    float: right;
}

.block-photo-right ul li h2 {
    color: #fafafa;
}

.block-photo1 {
    background-size: cover;
    background-image: url(http://desmondbros.ie/images/heineken_fb_02.jpg);
    padding-bottom: 2em;
    padding-top: 1em;
    padding-left: 2em;
    margin: 2em auto 1em auto;
    max-width: 1000px;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
    width: 90%;
}

.block-photo1 ul {
    margin-top: 7em;
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo1 ul li h2 {
    color: #fafafa;
}

.block-photo2 {
    background-size: cover;
    background-image: url(../images/pure-cork-03-500h.png);
    background-position: center;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2em;
    margin: 2em auto 2em auto;
    max-width: 1000px;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
    width: 90%;
}

.block-photo2 ul {
    margin-top: 7em;
    padding-right: 2em;

   
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo2 ul li h2 {
    color: #fafafa;
}

.block-photo3 {
    background-size: cover;
    background-image: url(../images/whiddy-island-01-1920w.png);
    background-position: center;
    padding-bottom: 2em;
    padding-top: 2em;
    padding-left: 2em;
    margin: 2em auto 2em auto;
    max-width: 1000px;
    width: 90%;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
}

.block-photo3 ul {
    margin-top: 7em;
    padding-right: 2em;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.block-photo3 ul li h2 {
    color: #fafafa;
}

.block-photo4 {
    background-size: cover;
    background-image: url(../images/simon-02-stretch.jpg);
    background-position: center;
    background-color: black;
    max-width: 1000px;
    height: 500px;
    color: #fafafa;
    border-radius: 10px;
}


.block-photo5 {
    background-size: cover;
    background-image: url(../images/looking-for-03.png);
    background-position: left;
    margin: 0 auto;
    max-width: 1000px;
    height: 500px;
    color: #fafafa;
    padding: 0;
    border-radius: 10px;
}

.block-photo5 ul {
    float: right;
    padding-right: 1em;
    padding-left: 2em;
    margin-top: 6em;
    
}

.block-photo5 ul li h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #fafafa;
    text-shadow: 2px 1px 1px rgba(0,0,0,0.5);
}

.block-photo5 ul li p {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-right: 1em;
}

.block-photo-kerry1 {
    background-size: cover;
    background-image: url(../images/video-production-set-02.jpg);
    background-position: center;
}

.block-photo-kerry2 {
    background-size: cover;
    background-image: url(../images/pure-cork-02-1920w.png);
    background-position: center;
}

.block-photo-kerry3 {
    background-size: cover;
    background-image: url(../images/organico-1.png);
    background-position: center;
}

.block-photo-agency1 {
    background-size: cover;
    background-image: url(../images/wildflour_01_1920w.png);
    background-position: center;

}



.block-photo-agency2 {
    background-size: cover;
    background-image: url(../images/swappie-02-1920w.jpg);
    background-position: center;
}

.block-video {
    padding-bottom: 2em;
    padding-top: 1em;
    margin-top: 1em;
    margin-right: 20em;
    margin-left: 20em;
}

.stripe1 {
    background-color: #fbbd15;
    clip-path: polygon(100% 0, 100% 0, 0 100%, 0 80%);
    height: 500px;
        left: 0%;
        top: 105%;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        text-align: center;
        display: block;
        animation: 2s polygon;
}


.stripe2 {
    background-color: #fbbd15;
    clip-path: polygon(0 0, 0 0, 100% 84%, 100% 100%);
    height: 500px;
        left: 0%;
        top: 5%;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        text-align: center;
        display: block;
        animation: 2s polygon;
}

.icon {
    max-width: 40px;
    fill: #1F4D7A;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    
}

.left-align {
    text-align: left;
}



.row img {
    padding-top: 5em;
}

.column {
    flex: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

#clients .column {
    flex: 50%;
    width: 100%;
}

#clients .row {
    max-width: 800px;
    margin: 0 auto;
    
}

.logoClients {
    margin-top: 5em;
    margin-bottom: 5em;
}

.logoGridContainer {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.logoGrid {
    display: grid;
    gap: 50px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 64em;
    grid-template-columns: repeat(6, 1fr);
}

.logoGridlogo {
    width: 100%;
    max-width: 6.5em;
    max-height: 4.5em;
    margin: auto;
}


#clients .column img {
    vertical-align: middle;
}

.row .card img {
    padding-top: 10px;
}



.icon-row .column {
    flex: 100%;
    width: 100%;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
    margin-bottom: 0em;
}

.icon-row .column p2 {
    
    text-align: left;
    display: block;
    margin-right: 5%;
    margin-left: 5%;

}

.profile {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0px;
    filter: brightness(120%) grayscale(80%);
    flex: 50%;
    width: 100%;
    max-width: 300px;
    
}

.profile-row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
}


.column .profile:hover {
    filter: brightness(100%) grayscale(0%);
}

.column .profile-description {
    opacity: 0;
}

.column .profile:hover + .profile-description{
    opacity: 1;
}



.headshot {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
  }

.row-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 0;
    margin: 0;
    
}

.column-video {
    flex: 100%;
}

.column-video iframe {
    margin-top: 8px;
    vertical-align: middle;
    max-width: 100%;
    width: 90%;
}

.video-background {
    vertical-align: middle;
    width: 100%;
    padding-top: 4em;
    z-index: -7;
    position: sticky;
    top: 500px;
}

.video-container {
    box-sizing: border-box;
    max-width: 100%;
}

.home-text {
    position: relative;
    text-align: center;
    top: 40%;
    color: #fff;
    z-index:1;
    padding-bottom: 0;
    margin-bottom: 0;
    text-decoration: none;
}

.home-text-lower {
    position: relative;
    text-align: left;
    top: 40%;
    color: #fff;
    z-index: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}


.home-text-long {
    top: 20%;
}


#home-top-video {
  left: 0%;
  top: 0%;
  padding-top: 4em;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  text-align: center;
  display: block;

}

#video-loop {
    height: 45%;
    width: auto;
    text-align: center;
  display: none;
}

.hero-text {
    position: sticky;
    left: 50%;
    top: 50%;
    padding-top: 5em;
    color: #fff;
    z-index:1;
}

.hero-image {
    display: block;
    background-size: cover;
    background-image: url(../images/leevy-3.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    text-align: center;
    margin-bottom: 8%;
    padding-bottom: 0;
}

.hero-image2 {
    display: block;
    background-size: cover;
    background-image: url(../images/video-production-pizza.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image3 {
    display: block;
    background-size: cover;
    background-image: url(../images/animated-explainer-2.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image4 {
    display: block;
    background-size: cover;
    background-image: url(../images/port-work-life.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.home-text h2  {
    color: #FAFAFA; 
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    font-weight: 400;
}

.hero-image5 {
    display: block;
    background-size: cover;
    background-image: url(../images/gemini-still-02.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-social {
    display: block;
    background-size: cover;
    background-image: url(../images/bathbomb-01.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-event {
    display: block;
    background-size: cover;
    background-image: url(../images/event-video-2.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-film {
    display: block;
    background-size: cover;
    background-image: url(../images/speak-to-her-01.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-contact {
    display: block;
    background-size: cover;
    background-image: url(../images/tree-01.jpg);
    background-repeat: no-repeat;
    height: 300px;
    background-position: center;
    text-align: center;
}

.hero-image-csr {
    display: block;
    background-size: cover;
    background-image: url(../images/csr-video-Ireland-02.png);
    background-repeat: no-repeat;
    height: 700px;
    background-position: center;
    text-align: center;
    margin-bottom: 10px;
}

.hero-image-live-stream {
    display: block;
    background-size: cover;
    background-image: url(../images/live-stream-Cork-1-blur.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-charity {
    display: block;
    background-size: cover;
    background-image: url(../images/focus-ireland-charity-non-profit-video-01-500px.png);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-Kerry {
    display: block;
    background-size: cover;
    background-image: url(../images/video-production-leaf.jpg);
    background-repeat: no-repeat;
    height: 600px;
    background-position: center;
    text-align: center;
}

.hero-image-Commercial {
    display: block;
    background-size: cover;
    background-image: url(../images/swappie-01.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    text-align: center;
}

.show-mobile {
    display: block;
    z-index: 9999;
}

.copyright {
    text-align: center;
    margin-top: 0em;
    padding-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    line-height: 0mm;
}

.copyright p {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */   
    padding: 16px;
    text-align: center;
    background-color: white;
    margin: 5px;
    border-radius: 5px;

  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.card img {
    max-height: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
}

a.card-link {
    text-decoration: none;
    color: inherit;
}



a.card-link:hover .card {
    background-color: #fafafa;
    color: black;
}

a.card-link:hover .card {
    transform: translateY(-20px);
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

#video-types p {
    font-size: 1em;
    line-height: 1.6em;
    color: rgba(0, 0, 0, 0.7);
    padding-top: none;
    margin-top: none;
}

#video-types h2 {
    font-size: 1.7em;
    line-height: 1.2em;
    font-weight: 400;
    color: rgba(0, 0, 0);
    padding-bottom: none;
    margin-bottom: none;
}

#process-steps p {
    font-size: 1em;
    line-height: 1.6em;
}

.sftestimonial {
    max-width: 600px;
    margin: 3em auto;
    padding: .75em 2em .75em 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.testimonialSection {
    margin-top: 10em;
    margin-bottom: 5em;
}

.testimonial p {
    font-size: 1em;
    font-weight: 300;
    line-height: 1.3em;
}

.testimonial h4 {
    font-size: 1.2em;
}

.testimonial h4 span {
    font-weight: 300;

}
  
  .carousel-cell {
    width: 70%;
    margin: 20px 10px 20px 20px;
    border-radius: 20px;
    background-color: white;
    padding: 0px;
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
   
  }  

.carousel-image {
    
    flex: 100%;
    width: 100%;
}

.carousel-image img {
    height: 100%;
    width: 100%;
}    

.carousel-text {
    flex: 100%;
    padding: 3em 1em 1em 1em;
}

.carousel-full {
    height: 100vh;
    width: auto;
    display: block;

    overflow: hidden;
}
.carousel-full-cell { 
    height: 100%;
    width: 100%;
    box-sizing: border-box;
} 

.carousel-full-image {
    width: 100%;
    height: 100%;

    margin-top: 90px;
}

.carousel-full-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-full-left img {
    object-position: -10.3em;
}

.carousel-full-text p {
    font-style: italic;
    position: absolute;
    z-index: 1;
    color: white;
    bottom: 5%;
    right: 5%;
}



.heroFade {
    animation: fadein 2s;
  }
  @keyframes fadein {
    from { opacity: 0}
    to   { opacity: 1}
}

.cookie-banner {
    position: fixed;
    bottom: 40px;
    left: 10px;
    width: 95%;
    max-width: 500px;
    padding: 5px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
    font-size: 12px;
    z-index: 20;
    color:  rgb(68, 68, 68);
  }

  .cookie-banner a {
      margin-left: 10px;
      color: grey;

  }

  .cookie-close {
      display: block;
      background-color: none;
      color: rgb(68, 68, 68);
      border-style: solid;
      border-width: 1px;
      border-color: rgb(68, 68, 68);
      border-radius: 5px;
      padding: .2em 1em;
      cursor: pointer;
      align-items: center;
      transition: 0.5s;
      margin-left: 50px;
      font-weight: 700;
  }

  .cookie-close:hover {
    background-color: white
    
}


summary {
    cursor: pointer;
}

summary::marker{ display:none; } summary{ list-style: none }

summary:before {
    border-radius: 5px;
    content: "+";
    color: #1F4D7A;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 10px;
    padding: 0;
    text-align: center;
  }

  details[open] summary:before {
    content: "-";
}


details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; transform: translate(0px, -10px)}
    100%  {opacity: 1; transform: translate(0)}
  }





.footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #fbbd15;
    color: #1F4D7A;
    padding-bottom: 5em;
    padding-top: 1em;
    display: inline-block;
    justify-content: space-between;
    
}

.contain {
    margin: 0 5px 0 5px;
    display: flex;
    flex-wrap: wrap;
}

  .contain .col {
    width: 50%;
    height: auto;
    padding: 0px 20px 20px 20px;
    background-color: none;
    float: left;
    flex: 50%;
    flex-wrap: wrap;
    
  }

  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 20px;
    line-height: 18px;
    padding: 20px 0px 5px 0px;
    font-weight: normal;
    text-transform: none;
  }
  .footer .col ul li h2 {
    font-weight: normal;
    text-transform: none;
    font-size: 20px;
    line-height: 1px;
    padding: 20px 0px 0px 0px;
  }
  .footer .col p {
    font-weight: 200;
    text-transform: none;
    font-size: .9em;
    line-height: 1.6em;
    padding: 20px 0px 0px 0px;
  }
  .footer .col ul {
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    font-size: 14px;
    line-height: 20px;
    font-family: inherit;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    text-decoration: none;
  }

  .footer a {
    text-decoration: none;
    color: inherit;
  }

  .social {
      text-align: center;
      padding: 30px auto auto auto;
      display: block;
      margin: 50px auto 50px auto;
  }

  .social ul {
      text-align: center;
      padding: 0 auto auto;
  }


  .social ul li {
    display: inline-block;
    margin: 15px;
    width: 40px;
  }

  .social ul li:hover {
      opacity: 75%;
  }




.logo-footer  {
    margin-top: 1.8em;
    padding-right: 1em;
}

.logo-footer:hover  {
    opacity: 80%;
}
  
.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}



  .footer .col ul li h2:hover {
    text-decoration: underline;
  }

  .clearfix {
    clear: both;
  }

  .lang-select {
      text-align: center;
      font-weight: 300;
  }

  .lang-select a:hover {
      text-decoration: underline;
  }

  .lang-select a:active  {
      color: red;
  }
  
 
    div.gallery {
    border: 1px solid #ccc;
    position: relative;

}
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
}
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

  .image {
    opacity: 1;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
  

.gallery-description {
      position: absolute;
      opacity: 0;
      transition: 0.4s;
      z-index: 20;
      background-color: aqua;
      padding-left: 5%;
      padding-right: 5%;

}

  .gallery-description:hover {
      opacity: 1;

}

  .gallery-text {
    color: black;
    font-size: 16px;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-top: 5em;
    margin-left: -40%;
    width: 100%;
    padding: 0;

}

  .responsive:hover .image {
    opacity: 0.3;
}
  

  .videos a:hover + .gallery-description {
    opacity: 1;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


#videos a {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    box-sizing: border-box;
    padding: 0;
    float: left;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}

 
 
 #videos a:hover {
    opacity: 0.7;
 }

 #videos-vimeo a:hover {
    opacity: 0.7;
 }
 
 #videos a img {
    width: 100%;
    height: auto;
 }

 #videos-vimeo a img {
    width: 100%;
    height: auto;
    vertical-align: middle;
 }
 
#overlay {
    background: rgba(31,77,122,0.8);
    position:fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 2;
}
 
#overlay .modal {
    background: rgba(255,255,255,0.7);
    border-radius: 5px;
    width: 90%;
    margin: 100px auto;
    max-width: 800px;
    min-height: 100px;
    position: relative;
    padding: 30px 20px 15px;
    
}
 
#overlay .modal #close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;

}
 
 #overlay iframe {
    width: 100%;
    min-height: 500px;
}

 




    

@media only screen and (min-width: 650px) { 
    #video-loop {
        width: auto;
        height: 100vh;
        text-align: center;
        display: block;
    }
    .home-text {
        top: 10%;
    }
    .home-text-lower {
        top: 15%;
    }

    .hero-image {
        display: block;
        background-size: cover;
        background-image: none;
        background-repeat: no-repeat;
    }

    .hide-desktop {
        display: none;
    }

    h1 {
        font-size:4em;
        margin-top:2em;
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 3em;
    }

    p {
        font-size: 1.2em;
    }

    .container {
        padding: .8em 1.2em;
        margin-right: 5em;
        margin-left: 5em;
    }

    .container-short {
        margin: 0 auto 0 auto;
        max-width: 800px;
    
    }

    .container-short h2 {
        text-align: center;
    }

    .container-full {
        padding: 0;
        margin-right: 0;
        margin-left: 0;
    }

    .block-white {
        padding-bottom: 2em;
        padding-top: 2em;
        margin-top: 2em;
        margin-bottom: 4em;
        position: relative;
    }

    .block-white ul {
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 0em;

        padding-bottom: 7em;
        
    }


    

    .block-blue-inner {
        padding-bottom: 2em;
        padding-top: 2em;
        margin-top: 2em;
        margin-bottom: 1em;
        position: relative;
    }

    .block-blue-inner ul {
        display: flex;
        align-items: center;
        margin-left: 10%;
        margin-top: 0em;

        
    }

    .block-blue#process {
        background-size: 50%;
        background-position: left bottom;
      
    
    }

    .block-blue#about {
        padding-bottom: inherit;
        margin-bottom: inherit;
    }

    .block-photo1 ul {
        margin-top: 7em;
        margin-left: 45%;
    }

    .block-photo2 ul {
        margin-top: 9em;
    }

    .block-photo2 {
        background-position: right;
        
    }

    


    .block-photo5 ul {
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 5em;
        text-align: left;
        border-radius: 20px;
        
        
    }

    .block-photo5 ul li p {
        color: #fafafa;
        text-shadow: none;
        margin-right: 1em;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 0;
        margin-bottom: 0;
    }

    .block-photo5 ul li h2 {
        color: #fafafa;
        text-shadow: none;
        margin-right: 1em;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }

    

    #subhero-1 {
        position: relative;
        width: 600px;
        
    
    }

    #subhero-2 {
        position: relative;
        width: 600px;
    }

    #clients .column {
        flex: 33.33%;
        width: 100%;
    }

   

    

    .icon-row .column {
        flex: 33.33%;
        width: 33.33%;
        padding:0
    }

    .icon-row .column p2 {
    
        text-align: left;
        display: block;
    
    }

    .column-video iframe {
        margin-top: 8px;
        vertical-align: middle;
        max-width: 100%;
        width: 65%;
    }

    .img-left {
        padding-right: 5em;
    }

    .poster-left {
        margin: 0 auto 0 auto;
        padding-right: 50px;
    }

    .banner-container {
        background:  #1F4D7A;
        width: 30em;
        height: 7em;
        padding-top: 0;
        padding-bottom: 2em;
        padding-right: 5em;
        margin-right: 0em;
        margin-bottom: 1em;
        text-align: right;
        vertical-align: right;
        margin-top: -7em;
    
    }

    

    .banner-column h2 {
        margin-top: 0;
        padding-top: 0.5em;
        padding-bottom: .8em;
        margin-bottom: 0;
    }

    .banner-row {
        border: none;
        text-align: center;
        text-decoration: none;
        color: white; 
        display: flex;
        padding-right: 10px;
        margin: 0;
        margin-bottom: -4em;
        top: 0;
    }

    .show-mobile {
        display: block;
    }





    .copyright {
        text-align: right;
    }

    .card {
        margin: 20px;
    }

    #explainer-benefits .card {
        min-height: 440px;
    }

    #video-types .card {
        min-height: 340px;
    }

    .cookie-banner {
        position: fixed;
        bottom: 40px;
        left: 40px;
        width: 95%;
        max-width: 500px;
      }

    

    
      

    

    
}

@media only screen and (min-width: 900px) {
    

    h1 {
        font-size:4em;
        margin-top:2em;
    }
    
    h2 {
        font-size: 2.5em;
    }

    p {
        font-size: 1.2em;
    }

    .show-desktop {
        display: block;
        opacity: 1;

        transform: translate(0);
    }

    .show-desktop .dropdown img {
        display: inline;
    }

    .hide-desktop li {
        display: none;
    }

    .hide-desktop {
        display: none;
    }

    nav ul {
        position: inherit;
        background: none;
        height: 0em;
        display: flex;
        padding-top: 0;
        padding-right: 2em;
        margin-right:2em;
        width: 100%;
    }

    nav ul li {
        text-align: center;
        padding-right: 50px;
        padding-left: 50px;
        display: inline;
    }

    

    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: center;
        width: 1em;
        padding-bottom: 10px;
        margin-bottom: 0;
        text-transform: none;
        font-weight: 300;
        font-size: 1em; 
        padding-top: 1em;
    }

    nav ul li a:hover {
        background-color: inherit;
        color: #1F4D7A;
    
    }

    .dropdown {
        float: left;
    }
    

    
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fafafa;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        transition: 1s;
        z-index: 6;
    }
    
    .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        width: 100%;
        text-transform: lowercase;
      }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
      }

    .img-right {
        padding-left: 5em;
    }

    li .img-right {
        max-width: 900px;
        display: inline;
        float: right;
    }
    
    .column {
        flex: 33.33%;
        width: 33.33%;
    }

    .column-video {
        flex: 24.9999%;
    }
    
    .icon-row {
        margin-left: 200px;
        margin-right: 200px;
    }

    .icon-row .column p2 {
    
        text-align: left;
        display: block;
        margin-top: -20px;
        padding-top: 0;
        padding-bottom: 10px;
    
    }

    #menuToggle span{
        display: none;
    }

   /* #menuToggle input ~ .hide-mobile li
    {
      display: contents;
    } */

    .showreel {
        background: #fff;
        color: black;
        padding-bottom: 10em;
        text-align: center;
        padding-top: 6em;
        padding-left: 20%;
        padding-right: 20%;
        
    
    }
    .home-text {
        top: 30%;
    }
    .hide-mobile {
        display: flex;
    }
    #video-loop {
        width: 100%;
        height: auto;
        min-height: 100vh;
        text-align: center;
        display: block;
    }
    .card {
        margin: 30px;
    }

    .contain .col {
        max-width: 16.667%;
        flex: 0 0 16.6666666667%;
        width: 16.667%;
        
    }

    .contain {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .block-photo5 ul {
        margin-top: 9em; 
        margin-left: 50%;
    }

    .block-photo4 ul {
        margin-right: 50%;
    }

    .button-menu {
        background-color: #fbbd15;
        color: white;
        border-radius: 5px;
        padding: 10px 25px 10px 25px;
        margin: 0 35px 0 20px;
        text-align: center;
        width: 100%;

    }

    .carousel-text {
        flex: 60%;
    }

    .carousel-image {
    
        flex: 40%;
        clip-path: polygon(0px 0px, 100% 0px, 60% 100%, 0px 100%);
        min-height: 400px;
        object-fit: cover;
        overflow: hidden;
    }

    .carousel-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }  

    .block-photo-agency1 ul {
        float: right;
        margin-right: 40%;
        
    }

    .block-photo-agency2 ul {
        float: right;
        margin-left: 40%;
        
    }


}

.done {
    position: absolute;

    text-align: center;
    opacity: 0;
    transform: translateY(-1em);
    color: #000;
    transition: all .500s;
  }
  .copied .done {
    opacity: 1;
    transform: translateY(-2em);
  }

  .button {
      position: relative;
  }

